<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Hangman App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="progresscircle.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2017.css">
    <link rel="stylesheet" href="css/cssCard.css">
</head>
<body ng-app="HangmanApp" ng-controller="GameController">
    <div class="w3-card position Card">
        <div class="w3-panel w3-cyan">
            <p class="panel w3-wide"> Game: Hangman </p>
        </div>
        <!--<div>Guesses Left:: {{guesses}}</div>-->
        <div class="circlechart" data-percentage={{guesses}}>Guesses Left</div>
        <div>Incorrect Guesses:: <span ng-repeat="letter in incorrectLettersChosen">{{letter}}</span></div>
        <div>Correct Guesses:: <span ng-repeat="letter in correctLettersChosen">{{letter}}</span></div>
        <div>You have to guess: {{displayWord}}</div>
        <div>
            <div>
                <input type="text" name="guess" ng-model="input.letter">
                <button ng-click="letterChosen()">Submit</button>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="progresscircle.js"></script>
    <script>
        $('.circlechart').circlechart(); // Initialization
    </script>
</body>
</html>